<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/tailwind.css">
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>
<body>
<div class="container mx-auto max-w-2xl mt-4">
    {{~> page}}
</div>



<footer>
    <!-- Site footer content -->
</footer>
<script src="/public/js/htmx.min.js"></script>
</body>
</html>
